{%- set shared_menu_en = [
        {
            'name':
            'Projects',
            'children': [
                {
                    'name': 'HCP-Diffusion',
                    'url': 'https://github.com/7eu7d7/HCP-Diffusion'
                },
                {
                    'name': 'HCP-Diffusion webui',
                    'url': 'https://github.com/7eu7d7/HCP-Diffusion-webui'
                },
            ]
        },
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name':
            '项目',
            'children': [
                {
                    'name': 'HCP-Diffusion',
                    'url': 'https://github.com/7eu7d7/HCP-Diffusion'
                },
                {
                    'name': 'HCP-Diffusion webui',
                    'url': 'https://github.com/7eu7d7/HCP-Diffusion-webui'
                },
            ]
        },
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'cn': shared_menu_cn, 'en': shared_menu_en} -%}
